<h1 class="Home-Title">Welcome to Home Page</h1>
<p class="Home-Authenticate">If you are a new user, <%=link_to "Signup here", new_user_path %> </p>
<p class="Home-Authenticate">If you are an existing user, <%=link_to "Signin here", new_sessions_path %> </p>
